#include<WinUser.h>
#include"resource.h"

MAINMENU MENU
BEGIN
	POPUP "ファイル(&F)"
	BEGIN
		MENUITEM	"新規\tCtrl+N"		IDM_NEW
		MENUITEM	"開く\tCtrl+O"		IDM_OPEN
		MENUITEM	"上書き保存\tCtrl+S"	IDM_SAVE
		MENUITEM	"名前を付けて保存" IDM_SAVEAS
		MENUITEM SEPARATOR
		MENUITEM	"SVG出力"		IDM_SVG
		MENUITEM SEPARATOR
		MENUITEM	"終了"		IDM_EXIT
	END
	POPUP "編集(&E)"
	BEGIN
		MENUITEM	"範囲指定\tCrtl+R"	IDM_RANGE
		MENUITEM	"貼付\tCtrl+V"		IDM_PASTE
		MENUITEM	"切取\tCtrl+X"		IDM_CUT	,GRAYED
		MENUITEM	"コピー\tCtrl+C"	IDM_COPY,GRAYED
		MENUITEM	"範囲を削除\tDel"	IDM_DEL	,GRAYED
	END
	POPUP "表示(&V)"
	BEGIN
		MENUITEM	"方眼表示"		IDM_GRID_VISIBLE,GRAYED
		MENUITEM	"方眼非表示"	IDM_GRID_INVISIBLE
	END
	MENUITEM	"移動と値の変更(&S)"	IDM_SCROLL
	MENUITEM	"注釈(&C)"				IDM_NOTE
	POPUP "モジュール(&M)"
	BEGIN
		MENUITEM	"設置"	IDM_MODULE_LOAD
		MENUITEM	"展開"	IDM_MODULE_SAVE
	END
	POPUP "端子設置(&T)"
	BEGIN
		MENUITEM	"入力"			IDM_IN_LABEL
		MENUITEM	"出力"			IDM_OUT_LABEL
	END
	MENUITEM	"導線設置(&W)"		IDM_CONDUCTOR
	POPUP "演算設置(&G)"
	BEGIN
		MENUITEM	"肯定"			IDM_BUFFER
		MENUITEM	"否定"			IDM_NOT
		MENUITEM	"積"			IDM_AND
		MENUITEM	"積の否定"		IDM_NAND
		MENUITEM	"和"			IDM_OR
		MENUITEM	"和の否定"		IDM_NOR
		MENUITEM	"入力数変更"	IDM_N_GATEIN
	END
	POPUP "バス(&B)"
	BEGIN
		MENUITEM	"幅"			IDM_BUS_WIDTH
		MENUITEM	"入力"		IDM_BUS_IN
		MENUITEM	"出力"		IDM_BUS_OUT
	END
	MENUITEM	"削除(&D)"				IDM_ERASE
	POPUP "クロック入力(&O)"
	BEGIN
		MENUITEM	"標準"			IDM_AUTO
		MENUITEM	"高速"	IDM_AUTO_FAST
	END
	POPUP "ヘルプ(&H)"
	BEGIN
		MENUITEM	"Astについて"	IDM_VERSION
	END
END

ACCEL ACCELERATORS
BEGIN
	"N",		IDM_NEW,	VIRTKEY,	CONTROL, NOINVERT
	"O",		IDM_OPEN,	VIRTKEY,	CONTROL, NOINVERT
	"S",		IDM_SAVE,	VIRTKEY,	CONTROL, NOINVERT
	"R",		IDM_RANGE,	VIRTKEY,	CONTROL, NOINVERT
	"V",		IDM_PASTE,	VIRTKEY,	CONTROL, NOINVERT
	"X",		IDM_CUT,	VIRTKEY,	CONTROL, NOINVERT
	"C",		IDM_COPY,	VIRTKEY,	CONTROL, NOINVERT
	VK_DELETE,	IDM_DEL,	VIRTKEY,			 NOINVERT
END


INPUTNUMDLG DIALOGEX 0,0,64,32
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "入力数"
FONT 9,"ＭＳ　ゴシック",400,0,0x80
BEGIN
	EDITTEXT IDC_EDIT_NUM,8,0,12,13,ES_NUMBER
	DEFPUSHBUTTON "OK",IDOK,8,16,50,14
END

INPUTBUSWIDTHDLG DIALOGEX 0,0,64,32
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "バス幅"
FONT 9,"ＭＳ　ゴシック",400,0,0x80
BEGIN
	EDITTEXT IDC_EDIT_NUM,8,0,12,13,ES_NUMBER
	DEFPUSHBUTTON "OK",IDOK,8,16,50,14
END

LABELDLG DIALOGEX 0,0,256,32
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "入力してください"
FONT 9,"ＭＳ　ゴシック",400,0,0x80
BEGIN
	EDITTEXT IDC_EDIT_NAME,8,0,128,16,ES_LEFT
	DEFPUSHBUTTON "OK",IDOK,8,16,50,14
END

AUTODLG DIALOGEX 0,0,256,80
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "自動クロック入力"
FONT 9,"ＭＳ　ゴシック",400,0,0x80
BEGIN
	CTEXT "クロック入力",-1,0,0,128,12
	CTEXT "変化で停止",-1,128,0,128,12
	LISTBOX IDC_CLOCK_LIST,0,12,128,41,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	LISTBOX IDC_BREAK_LIST,128,12,128,41,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	LTEXT "半周期(ms)",-1,0,56,64,12
	EDITTEXT IDC_CYCLE,48,56,20,12,ES_NUMBER
	DEFPUSHBUTTON "OK",IDOK,96,56,50,14
END

FASTAUTODLG DIALOGEX 0,0,256,80
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "自動クロック入力(CPU高負荷)"
FONT 9,"ＭＳ　ゴシック",400,0,0x80
BEGIN
	CTEXT "クロック入力",-1,0,0,128,12
	CTEXT "変化で停止",-1,128,0,128,12
	LISTBOX IDC_CLOCK_LIST,0,12,128,41,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	LISTBOX IDC_BREAK_LIST,128,12,128,41,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON "OK",IDOK,96,56,50,14
END


BMP_ONE BITMAP "one.bmp"
BMP_AND BITMAP "and.bmp"
BMP_OR BITMAP "or.bmp"